*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}
.loginpage{
    display: flex;
    align-items: center;

    flex-direction: column;
}
.loginimg{
    margin-top: -40px;
    margin-left: -25px;
}
.logo{
    background: url("../images/amazon.logo.jpeg");
    background-size: cover;
    height: 140px;
    width:160px;
}
.sign-inpage{
    margin-top: -38px;
}
.border{
    display: flex;
    flex-direction: column;
    border: 1px solid  #ddd;
    height: 360px;
    width:350px;
    border-radius: 8px;
}
.sign-inbox h1{
    margin:22px;
    font-size: 28px;
    color: #111111;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.sign-inpage{
    margin-right: -18px;
}
form{
    margin:22px;
}
.input-bar{
    font-size: 13px;
    color: #111111;
    margin-top: -30px;
    font-weight: bold;
}
#search-input{
    margin-top: 5px;
    padding : 3px 7px;
    height:31px;
    width:295px;
    border-color: rgb(113, 111, 111);
    transition:step-end;
}
#search-input:hover{
    box-shadow: 0px 0px 5px rgb(38, 242, 252);
    background-color: rgb(246, 254, 255);
}
button{
    margin:22px;
    height: 29px;
    width:295px;
    margin-left: 1px;
    margin-top: 20px;
    padding: 1px 6px;
}
#button{
    background-color: rgb(242, 227, 17);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 2px;
    border: none;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.note{
    margin:22px;
    margin-top: -27px;
    line-height: 17px;
    font-family:Arial,sans-serif;
    font-weight: 530;
}
.note p{
    font-size: 12px;
    color: #111111;
}
.note a{
    font-size: 12px;
    color: #0066c0;
}
.help{
    margin:22px;
    margin-top: -2px;
}
.help a{
    font-size: 13px;
    color: #0066c0;
}
.help a:hover{
    text-decoration: underline;
}
.borderbottom{
    border-bottom: 1px solid  #d5d2d2;
    line-height: 19px;
    width:306px;
    margin-left: 21px;
}
.work{
    margin: 22px;
    line-height: 20px;
}
.work p{
    font-size: 13px;
    color: #111111;
    margin-top: -7px;
    font-weight: 600;
}
.work a{
    font-size: 13px;
    color: #4854db;
}
.work a:hover{
    text-decoration: underline;
}
.bod{
    border-bottom:1px solid #d5d2d2;
    width: 350px;
    margin: 28px 0px 0px 20px;
}
.amazon{
    font-size: 12px;
    color: #767676;
    text-align: center;
    position: relative;
    line-height: 0;
    padding-top: 1px;
}
.amazon p{
    background:#ffffff;
    background-color:#ffffff ;
}
.btn button{
    height:29px;
    width:348px;
    margin-left: 38px;
    background-color: #ffffff;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #adb1b8 #a2a6ac #8d9096;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: #111111;
    transition: none;
}
.footborder{
    border-bottom: 1px solid #d5d2d2;
    width:1000px;
}
.footborder:hover{
    box-shadow: 0px 0px 3px rgb(115, 108, 108);
}
.bigborder{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
}
.class {
   color: #0066c0;
}
.class a:hover{
    text-decoration: underline;
}

.footer1{
    padding-top: 30px;
}